Program/XSD/V1/Program.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="Program" type="ProgramType"/>

  <xs:complexType name="ProgramType">
    <xs:sequence>
      <xs:element type="MetaDataType" name="MetaData" maxOccurs="unbounded" minOccurs="0"/>
      <xs:choice>
        <xs:element type="BucketType" name="Level" maxOccurs="unbounded" minOccurs="0"/>
        <xs:element type="BucketType" name="Container" maxOccurs="unbounded" minOccurs="0"/>
        <xs:element type="ProductType" name="Product" maxOccurs="unbounded" minOccurs="0"/>
      </xs:choice>
    </xs:sequence>

    <xs:attribute type="xs:string" name="name"/>
  </xs:complexType>

  <xs:complexType name="BucketType">
    <xs:sequence>
      <xs:element type="BucketType" name="Level" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="BucketType" name="Container" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="ProductType" name="Product" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="name" use="required"/>
  </xs:complexType>

  <xs:complexType name="ProductType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="name" use="required"/>
        <xs:attribute type="xs:string" name="id" use="required"/>
        <xs:attribute type="xs:string" name="folder" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="MetaType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="name" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="MetaDataType">
    <xs:sequence>
      <xs:element type="MetaType" name="Meta" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>


</xs:schema>